.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.navb{
  margin-left: auto;
  font-size: 1.5em;

}

.navb,Nav.Link{
  color: #011627;

}
.hero{
  background: linear-gradient(0deg, rgba(32, 164, 243, 0.16), rgba(32, 164, 243, 0.16)), linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%),url('assets/images/hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height:  567px;
  margin-top:-90px;

}


    .navb>a{
      justify-content: space-between !important;
    }
   

.search{


}



.search .form-control{
  width: 80%;
  margin-left: 10px;
  margin-top: 40px;
  height: 100px;
}
.txt{

  margin-top:150px;
font-style: normal;
font-weight: 500;
font-size: 40px;
line-height: 47px;

color: #333333;
}



/* Login Page style class */
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

.bg {
  background-color: #F8F8F8;
}

/* add background image */
.font {
  font-family: 'Rubik', sans-serif;
}

.bg-img {
  background-color: #F8F8F8;
  background-image: url('assets/images/signup_image.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

/* Media Querie to position form */
@media only screen and (min-width: 767px) {
  .overlap {
    position: fixed;
    z-index: 1;
    width: 50%
  }
}

.head {
  font-weight: 500;
  font-size: 36px;
  line-height: 43px;
}

.color-1 {
  color: #000000;
}

.color-2 {
  color: #787676;
}

.color-3 {
  color: #1A1B4B;
}

.color-4 {
  color: #011627;
}

.fs-18 {
  font-size: 18px;
}

.fs-20 {
  font-size: 20px;
}

.btn-bg {
  background-color: #20A4F3 !important;
  border-color: #20A4F3 !important;
}


