.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.navb{
  margin-left: auto;
  font-size: 1.5em;

}

.navb,Nav.Link{
  color: #011627;

}
.hero{
  background: linear-gradient(0deg, rgba(32, 164, 243, 0.16), rgba(32, 164, 243, 0.16)), linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%),url('assets/images/hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height:  567px;
  margin-top:-90px;

}


    
   

.search{
  position: absolute;
  left: 256px;
  top: 335px;
}



.txt{

  margin-top:150px;
  font-family: Rubik;
font-style: normal;
font-weight: 500;
font-size: 40px;
line-height: 47px;

color: #333333;
}