/* Home Page style class START */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.navb {
  margin-left: auto;
}

.navb,Nav.Link {
  color: #011627 !important;
}

.hero{
  background: linear-gradient(0deg, rgba(32, 164, 243, 0.16), rgba(32, 164, 243, 0.16)), linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%),url('assets/images/hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height:  567px;
  /* margin-top:-90px; */

}

.navb>a {
    justify-content: space-between !important;
}

.search .form-control {
  width: 80%;
  margin-left: 10px;
  margin-top: 40px;
  height: 100px;
}

.txt {
  font-style: normal;
  font-weight: 500; 
  font-size: 40px;
  line-height: 47px;
  color: #333333;
  width: 670px;
}

.ex {
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  
}

.fs-24 {
  font-size: 24px;
=======
/* Error 404 Page CSS */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700&display=swap');
.contaner {
  background-color: #F8F8F8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: Work Sans;
}
h3.oops {
  font-weight: 600;
  margin-top: 25px;
  font-size: 36px;
  text-align: center;
  flex-wrap: wrap;
}
p.oops_text {
  font-weight: 500;
  font-size: 24px;
  padding-top: 10px;
  text-align: center;
  flex-wrap: wrap;
}
button.but_home {
  border: 0;
  background-color: #20A4F3;
  color: #FFFFFF;
  padding: 20px 35px;
  border-radius: 5px;
  margin-top: 10px;
  font-size: 17px;
}
  
button.but_home:focus {
  outline: 0;
}
/* Media Query for 404 page */
@media (max-width: 480px){
  p.oops_text {
    padding-left: 20px;
    padding-right: 20px;
  }
  h3.oops {
    padding-left: 10px;
    padding-right: 10px;
  }
  img.err {
    height: 300px;
  }
}

.bd-dk {
  border: 1px solid #000000 !important;
}

.user-func {
  visibility: hidden;
  
}

.Hover-effect:hover {
  background-color: rgba(5, 3, 3, 0.5);
}

.Hover-effect:hover .user-func {
  visibility: visible;
}

@media only screen and (max-width: 990px) {
  .sm-24 {
    font-size: 24px;
  }

  .sm-14 {
    font-size: 14.8611px;
  }

  .sm-19 {
    font-size: 19.4341px;
  }

}

check-font {
  font-size: 20px;
}

/* Login Page style class END */


/* Login Page style class START */
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

.bg {
  background-color: #E5E5E5;
}

.font {
  font-family: 'Rubik', sans-serif;
}

.bg-img {
  background-color: #E5E5E5;
  background-image: url('assets/images/signup_image.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}


@media only screen and (min-width: 767px) {
  .overlap {
    position: fixed;
    z-index: 1;
    width: 50%
  }
}

.head {
  font-weight: 500;
  font-size: 36px;
  line-height: 43px;
}

.color-1 {
  color: #000000;
}

.color-2 {
  color: #787676;
}

.color-3 {
  color: #1A1B4B;
}

.color-4 {
  color: #011627;
}

.color-5 {
  color: #333333;
}

.fs-18 {
  font-size: 18px;
}

.fs-20 {
  font-size: 20px !important;
}

.btn-bg {
  background-color: #20A4F3 !important;
  border-color: #20A4F3 !important;
}

/* Login Page style class END */
